<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Trades API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("https://media.istockphoto.com/id/1416020122/photo/digitally-generated-currency-and-exchange-stock-chart-for-finance-and-economy-based-computer.jpg?b=1&s=170667a&w=0&k=20&c=f7gYvpyhXEHbKXffQbdimhIhuUveTFnCOSWI3rKqIls=");
            background-size: cover;
            background-position: center;
            color: white;
        }
        .jumbotron {
            background-color: rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center mt-5">
            <h1 class="display-4">Welcome to Trades API</h1>
            <p class="lead">This API provides access to trades data.</p>
            <hr class="my-4">
            <p>Click the button below to access the API documentation.</p>
            <a class="btn btn-primary btn-lg" href="/docs" role="button">Documentation</a>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
